/* Reset de estilos básicos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgba(168, 168, 247, 0.4);
    padding: 1rem;
    text-align: left;
    box-shadow: 0 0 5px rgba(248, 248, 248, 0.2);
    max-width: 100vw;
}

.banner, .banner1 {
    display: block;
    padding: 12px; /* Ajuste conforme necessário */
    background-color: rgba(160, 160, 160, 0.4);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0.5em;
}

.mapa {
    padding: 1em;
    max-height: 100%;
}

.scroll-container {
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    width: max-content;
    justify-content: center;
    margin-left: 85vw;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #fff; /* Ajuste conforme necessário */
}

#scrollDownButton {
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 6px 10px;
    border: 2px solid #fff; /* Ajuste conforme necessário */
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &:active {
        transform: scale(0.98);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }
}

/* Estilos para o Bloco Widget */
.container-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.widget {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.second-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;
    margin: 20px; /* Ajuste conforme necessário */
}

.air-quality, .solar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 16em;
    border-radius: 8px;
    margin: 0.5em; /* Ajuste conforme necessário */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#cont_ea8c81d2ce2c4d16d04995a331982d8f {
    border-radius: 8px;
}

.air-quality h3, .solar-info h3 {
    margin: 8px;
}

#section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    overflow: hidden;
}

#section3 .ad-space {
    width: 20%;
    overflow: hidden;
}

.ad-space-left {
    flex-direction: column;
}

#section3 iframe {
    width: calc(60% - 20px);
    height: 770px;
    border: none;
}

#section3 a {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    text-align: center;
    text-decoration: none;
}

.video-tv {
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin: auto;
    height: 420px;
    display: flex;
}

.video-tv iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos para a Seção de Notícias em Cards */
.news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.news-card {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
}

.news-card img {
    height: 200px;
}

.news-card a {
    color: inherit; /* Usa a cor padrão do elemento pai (normalmente preto ou azul) */
    text-decoration: none;
}

.news-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilos para o Footer */
footer {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .container-widget, .second-container, .news-section {
        grid-template-columns: 1fr; /* Altera para uma única coluna em dispositivos menores */
        gap: 10px; /* Adapta o espaçamento entre os elementos */
    }
    body {
        margin: 0 8px;
    }

    .container-widget {
        width: 60vw;
        max-width: 90vw; /* Defina a largura máxima desejada */
        margin: 0 auto; /* Isso centraliza o elemento na tela horizontalmente */
        text-align: center;
        display: flex;
        flex-direction: column; /* Garante que os elementos estejam empilhados verticalmente */
        align-items: center; /* Centraliza os itens na direção transversal (vertical neste caso) */
        margin-top: 12px;
    }
    

    .video-tv {
        height: 300px; /* Ajusta a altura do bloco de vídeo para dispositivos menores */
    }

    header {
        text-align: center; /* Centraliza o texto do cabeçalho em dispositivos menores */
        overflow: hidden; /* Evita que o botão saia da tela */
    }

    h1 {
        margin-bottom: 10px; /* Adapta o espaçamento abaixo do H1 */
    }

    .scroll-container {

        margin-left: 60vw;

    }
    
    #scrollDownButton {
        font-size: 16px;
        margin: 3px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 6px 10px;
        border: 2px solid #fff; /* Ajuste conforme necessário */
        border-radius: 8px;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
        &:active {
            transform: scale(0.98);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        }
    }
    .second-container {
        width: 100vw;
        max-width: 100%; /* Defina a largura máxima desejada */
        margin: 0 auto; /* Isso centraliza o elemento na tela horizontalmente */
        text-align: center;
        display: flex;
        flex-direction: column; /* Garante que os elementos estejam empilhados verticalmente */
        align-items: center; /* Centraliza os itens na direção transversal (vertical neste caso) */
        overflow: hidden;
        
    }

    #section3 {
        flex-direction: column; /* Altera para uma única coluna em dispositivos menores */
        align-items: center; /* Centraliza os elementos na coluna */
        margin: 10px; /* Adapta a margem da seção */
    }

    #section3 .ad-space {
        width: 100%; /* Ocupa toda a largura em dispositivos menores */
        margin-bottom: 10px; /* Adapta o espaçamento entre os elementos */
    }

    #section3 iframe {
        width: 100%; /* Ocupa toda a largura em dispositivos menores */
    }

    .news-section {
        justify-content: center; /* Centraliza as notícias na coluna */
    }

    .news-card {
        max-width: 100%; /* Garante que as notícias ocupem toda a largura */
    }
}


.article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.article h2 {
    color: #333;
}

.article h3 {
    color: #555;
}

.article p {
    color: #777;
    line-height: 1.4;
    margin-bottom: 15px;
}